.logo_img_div {
    background-color:white;
    border-bottom:0.5px solid gray;
    margin:0;
    padding:0;
    height:7vh;
    width:100%;

    z-index:1000;
    display: flex;
    flex-flow:wrap;
    position:fixed;
    align-items: center;
    top:0;
}

.logo_img {
    height:5vh;
    position:fixed;
    left:2%;
}

.main {
    height:200vh;
    width:100%;
    background-color:white;
    margin:7vh 0 7vh 0;
}

.footer {
    background-color:white;
    border-top:0.5px solid gray;
    z-index:1000;
    display: flex;
    flex-flow:wrap;
    min-height:150px;
    height:7vh;
    width:100%;

    position:fixed;
    bottom:0;

    justify-content: space-around;
    align-items: center;
}

